.containerLoading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0f222f;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ring {
    width: 200px;
    height: 200px;
    border: 0px solid #0f222f;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: blueviolet;
    animation: loading1 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 242, 255);
    animation: loading2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(162, 255, 0);
    animation: loading3 2s linear infinite;
}

.textLoading {
    color: #fff;
}


@keyframes loading1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes loading2 {
    0% {
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
    }
}

@keyframes loading3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}